/*
*NOTIFICATION BAR
*/
.ibx-notify-notification-bar-wraper{
    border-top:     0;
    margin-top:     -100px;
    transition:     margin-top 0.3s ease;
    width:          100%;
    z-index:        9999;
}

.ibx-notify-notification-bar-wraper .container{
    padding:        0 40px;
    text-align:     center;
}
.ibx-notify-notification-bar-wraper .noti-close{
    color:          #585858;
    cursor:         pointer;
    display:        block;
    font-size:      28px;
    font-weight:    100;
    position:       absolute;
    top:            12px;
    right:          10px;
    text-decoration:none!important;
    vertical-align: middle;
}
.ibx-notify-notification-bar-wraper .noti-no-close{
    display:        none;
}
.ibx-notify-notification-bar-wraper .timer{
    display:        inline-block;
    min-width:      125px;
    padding:        10px;
    text-align:     center;
    vertical-align: middle;
}
.ibx-notify-notification-bar-wraper .timer p{
    margin:         0;
    padding:        0;
}
.ibx-notify-notification-bar-wraper .timer p b{
    font-size:      17px;
    padding:        0 4px;
}
.ibx-notify-notification-bar-wraper .text{
    color:          #404040;
    display:        inline-block;
    margin-right:   0px;
    margin-left:    15px;
    text-align:     center;
    vertical-align: middle;
}
.ibx-notify-notification-bar-wraper .text p{
    margin:         0;
}

/*
*Custom Message
*/

.ibx-notify-toggel-button{
    cursor:         pointer;
    height:         50px;
    width:          50px;
    z-index:        9999;
}
.ibx-notify-toggel-button button{
    display:        none;
    height:         50px;
    width:          50px;
}
.ibx-notify-toggel-button button .msg-ibx-show{
    position:       absolute;
    top:            13px;
    left:           13px;
    z-index:        999;
}
.ibx-notify-toggel-button button .msg-ibx-hide{
    position:       absolute;
    top:            17px;
    left:           17px;
    z-index:        0;
    opacity:        0;
    transform:      rotate(-30deg);
}

.ibx-notify-toggel-button span {
    background:     rgb(255, 0, 0);
    color:          rgb(0, 0, 0);
    font-size:      35px;
    height:         32px;
    width:          35px;
}
.ibx-notify-wraper,
.ibx-notify-popup-wraper{
    width:          300px;
    transition:     margin-top 0.3s ease;
    z-index:        9999;
}
.ibx-notify-popup-wraper a,
.ibx-notify-wraper a{
    text-decoration:none;
}
.ibx-notify-container{
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .4);
    -moz-box-shadow:    0 0 4px 0 rgba(0, 0, 0, .4);
    box-shadow:         0 0 4px 0 rgba(0, 0, 0, .4);
    border-radius:      10px;
    padding:            15px;
    text-align:         center;
}
.ibx-notify-text{
    display:        table;
    vertical-align: middle;
}
.ibx-notify-wraper {
    opacity:        0;
}
.btn-left{
    position:   fixed;
    bottom:     30px;
    left:       40px;
}
.wraper-left{
    position:   fixed;
    bottom:     90px;
    left:       40px;
}
.btn-right{
    position:           fixed;
    bottom:             30px;
    right:              40px;
    -moz-transform:     scaleX(-1);
    -o-transform:       scaleX(-1);
    -webkit-transform:  scaleX(-1);
    transform:          scaleX(-1);
}
.wraper-right{
    position:   fixed;
    bottom:     90px;
    right:      40px;
}

/*
* Popup NOTIFICATION
*/
.ibx-notify-popup-wraper a{
    cursor:         context-menu;
    text-decoration:none!important;
}
.ibx-notify-popup-wraper .ibx-notify-img{
    display:        table-cell;
    height:         50px;
    width:          50px;
    vertical-align: top;
}
.ibx-notify-popup-wraper .ibx-notify-img img{
    border-radius:  10px;
    height:         100%;
    width:          100%;
}
.ibx-notify-popup-wraper .ibx-notify-text-wraper{
    display:        table-cell;
    padding-left:   15px;
    text-align:     left;
    vertical-align: top;
}
.ibx-notify-popup-wraper .ibx-notify-text-content{
    line-height:    1;
    margin:         0;
}
.ibx-notify-rating{
    unicode-bidi:   bidi-override;
    direction:      rtl;
}
.ibx-notify-popup-wraper .ibx-notify-container span:before{
    content:        "\2605";
    position:       absolute;
}
.ibx-notify-popup-wraper{
    display:    none;
}
.popup-wraper-left{
    position:       fixed;
    bottom:         40px;
    left:           40px;
}
.popup-wraper-right{
    position:       fixed;
    bottom:         40px;
    right:          40px;
}
.ibx-notify-popup-wraper .close {
    display:    block;
    cursor:     pointer;
    font-size:  19px;
    font-weight:900;
    position:   absolute;
    top:        -16px;
    right:      -13px;
    padding:    0px 3px;
    text-decoration: none!important;
    vertical-align: text-top;
    text-shadow: 0 0px 0 #fff;
    border-radius: 15px;
    opacity:    1;
}
.container-close {
    padding:    15px 20px 15px 15px;
}
.no-close {
    display:    none;
}
.container-no-close {
    padding:    15px;
}

.clickable{
    cursor:         pointer;
    text-decoration:none!important;
}
.not-clickable{
    cursor:         context-menu;
    text-decoration:none!important;
}
