#display_meta_box{
    background: #f7f7f7;
}
#display_meta_box .handlediv, #display_meta_box .ui-sortable-handle{
    display: none;
}
#display_meta_box .inside{
    margin: -12px 0 0 0;
    padding: 0;
}
.ibx_notify_container{
    display :none;
}
#Config{
    display : block;
}

.ibx_notify_tab{
    width: 160px;
    margin: 0;
    padding: 0;
}
.ibx_notify_tab li{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.ibx_notify_tab li a{
    float: left;
    width: 120px;
    margin: 0 20px;
    padding: 20px 0 20px 25px;
    text-decoration: none;
    color: #999;
    border-bottom: 1px solid #ddd;
    background-position: left center;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: none;
    -webkit-transition: none;
}
.ibx_notify_tab a:hover, .ibx_notify_tab a.ibx-active{
    width: 161px;
    margin: -1px 0 0 0;
    padding: 20px 20px 20px 45px;
    text-decoration: none;
    color: #444;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #fff;
    background-color: #fff;
    background-position: 20px center;
}
.ibx_notify_container{
    margin: 0 0 0 160px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    border-left: 1px solid #ddd;
}
.ibx_notify_container table{
    clear: none;
}
.ibx-notify-intro{
    margin: 0;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    font-weight: 700;
}
.ibx-notify-intro small{
    margin: 5px 0 0 0;
    display: block;
    font-weight: 400;
}
.ibx_notify_sale .dashicons.del-tr{
    background: #ffffff;
    color: #006799;
    border: 1px solid #006799;
    font-weight: 900;
}

/*============= Reviews =================*/
.ibx_notify_sale_tbody,
.ibx_notify_reviews_tbody{
    border: 1px solid #ddd;
}
.ibx_notify_sale_tr,
.ibx_notify_reviews_tr{
    background: #f7f7f7;
    border: 1px solid #ddd;
}
.ibx_notify_sale_tbody th,
.ibx_notify_reviews_tbody th{
    padding: 5px 15px;
    font-size: 13px;
    font-weight: 400;
}
.ibx_notify_sale_tbody td,
.ibx_notify_reviews_tbody td{
    padding: 2px 15px;
    font-size: 13px;
}
.ibx_notify_sale_tr th h3,
.ibx_notify_reviews_tr th h3{
    margin: 0px;
    font-size: 15px;
}
.ibx_notify_sale table tr .del-tr ,
.ibx_notify_reviews table tr .del-tr {
    float: right;
}
.ibx_notify_sale_tbody input[type="button"], .ibx_notify_sale_tbody textarea, .ibx_notify_sale_tbody input[type="text"],
.ibx_notify_reviews_tbody input[type="button"], .ibx_notify_reviews_tbody select, .ibx_notify_reviews_tbody textarea, .ibx_notify_reviews_tbody input[type="text"]{
    padding: 0px 5px;
}
.ibx_notify_reviews_tbody select{
    height: 22px;
}
.sale-table:first-child .ibx_notify_sale_tbody tr:first-child .del-tr,
.review-table:first-child .ibx_notify_reviews_tbody tr:first-child .del-tr{
    visibility: hidden;
}
.add-tr{
    float: right;
}
.ibx_notify_sale .button,
.ibx_notify_reviews .button{
    height: 22px!important;
    line-height: 0!important;
}
