.mbt-metabox-tabs-wrapper *,
.mbt-metabox-tabs-wrapper *:before,
.mbt-metabox-tabs-wrapper *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.mbt-metabox-tabs-wrapper {
    background: #f9f9f9;
}

.mbt-metabox-tabs-wrapper.mbt-layout-vertical {
    background: #fff;
}

.mbt-metabox-tabs-wrapper .mbt-col-left {
    width: 120px;
    float: left;
}

.mbt-metabox-tabs-wrapper .mbt-col-right {
    float: left;
    background: #fff;
    min-height: 200px;
    width: calc(100% - 120px);
    border-left: 1px solid #eee;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-tabs,
.mbt-metabox-tabs-wrapper .mbt-metabox-tabs .mbt-metabox-tab {
    margin: 0;
}

.mbt-metabox-tabs-wrapper .mbt-row .mbt-metabox-tabs {
    background: #f9f9f9;
}
.mbt-metabox-tabs-wrapper .mbt-row .mbt-metabox-tabs .mbt-metabox-tab {
    display: inline-block;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-tabs .mbt-metabox-tab.active {
    margin-right: -1px !important;
    position: relative;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-tabs .mbt-metabox-tab a {
    color: #777;
    display: block;
    border-bottom: 1px solid #eee;
    outline: none;
    padding: 20px;
    text-decoration: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.mbt-metabox-tabs-wrapper .mbt-metabox-tabs .mbt-metabox-tab.active a {
    background: #fff;
    color: #000;
}
.mbt-metabox-tabs-wrapper .mbt-row .mbt-metabox-tabs .mbt-metabox-tab a {
    border: 0;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-tabs-content {
    padding: 0 15px;
}
.mbt-metabox-tabs-wrapper .mbt-metabox-tab-content:not(.active) {
    display: none;
}
.mbt-metabox-tabs-wrapper .mbt-row .mbt-metabox-tabs-content {
    background: #fff;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-section {
    margin-bottom: 25px;
}

.mbt-metabox-tabs-wrapper .mbt-metabox-section .mbt-metabox-section-title {
    padding: 20px 0 !important;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #eee;
    font-weight: bold !important;
    text-transform: uppercase;
}

/* Fields */
.mbt-metabox-tabs-wrapper .mbt-field {
    font-size: 13px;
    vertical-align: top;
}

.mbt-metabox-tabs-wrapper .mbt-field .mbt-field-description {
    color: #888;
}

.mbt-metabox-tabs-wrapper .mbt-field .description {
    font-size: 13px;
}

/* textarea */
.mbt-metabox-tabs-wrapper .mbt-field textarea {
    min-width: 320px;
}

/* color picker */
.mbt-metabox-tabs-wrapper .mbt-field .wp-color-result {
    height: 24px;
}

/* uploader */
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper {
    display: table;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-container.mbt-has-img {
    width: 80px;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-container.mbt-has-img img {
    max-height: 80px;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-container,
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-input {
    display: table-cell;
    vertical-align: middle;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-input .mbt-img-url {
    min-width: 230px;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-container.mbt-has-img + .mbt-img-input .mbt-img-url {
    display: block;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-input .mbt-img-action {
    display: inline-block;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-photo-field-wrapper .mbt-img-container.mbt-has-img + .mbt-img-input {
    padding-left: 10px;
}

/* group */
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group {
    border: 1px solid #eee;
    margin-bottom: 10px;
    padding: 10px;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-title {
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    margin: -10px;
    padding: 10px;
    cursor: pointer;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-title:after {
    content: "\f140";
    font-family: dashicons;
    float: right;
    font-size: 15px;
    color: #9c9c9c;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-title.open:after {
    content: "\f142";
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-title span.mbt-group-field-unsaved {
    display: none;
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    color: #999;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group.mbt-fields-group-new .mbt-fields-group-title span.mbt-group-field-unsaved {
    display: inline;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper a.disabled {
    pointer-events: none;
    cursor: default;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-footer {
    border-top: 1px solid #eee;
    margin-top: 10px;
    padding: 20px 0;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-footer .mbt-fields-group-order {
    float: left;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-footer .button span.dashicons {
    line-height: 1.2;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-footer .mbt-fields-group-remove,
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-footer .mbt-fields-group-clone {
    text-align: right;
    float: right;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-footer .mbt-fields-group-remove {
    color: #bf3e34;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-footer div.mbt-fields-group-clone {
    margin-right: 5px;
}
.mbt-metabox-tabs-wrapper .mbt-field .mbt-fields-group-wrapper .mbt-fields-group-action {
    text-align: left;
    margin-top: 15px;
}
